<div *ngIf="download">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ download.filename }}</mat-card-title>
      <mat-card-subtitle>
        {{ download.url.url }}<br/>
        {{ size }} {{ download.mimetype }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar color="primary" mode="determinate"
          [value]="progress">
      </mat-progress-bar>
    </mat-card-content>
    <mat-card-actions *ngIf="!download.to_keep">
      <button mat-raised-button color="primary" (click)="saveDownload()">
        <mat-icon>cloud_download</mat-icon>
        Save on proxy
      </button>
      <button mat-raised-button color="secondary" (click)="fileDownload()" >
        <mat-icon>save_alt</mat-icon>
        Download now
      </button>
      <button mat-raised-button color="warn" (click)="cancelDownload()">
        <mat-icon>close</mat-icon>
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</div>
