<div *ngIf="download">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ download.filename }}</mat-card-title>
      <mat-card-subtitle>
        {{ download.url.url }}<br/>
        {{ size }} {{ download.mimetype }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar color="primary" mode="determinate"
          [value]="progress">
      </mat-progress-bar>
    </mat-card-content>
    <mat-card-actions *ngIf="!download.to_keep">
      <button mat-button color="primary" (click)="fileDownload()" >Download now</button>
      <button mat-button color="primary" (click)="saveDownload()">Save on proxy</button>
      <button mat-button color="warn" (click)="cancelDownload()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
