<form [formGroup]="viewForm">
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="From" formControlName="startDate" (dateChange)="refreshUrls()">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="To" formControlName="endDate" (dateChange)="refreshUrls()">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <mat-icon class="search-icon">search</mat-icon>
  <mat-form-field id="search">
    <input matInput placeholder="Search" formControlName="search" (input)="refreshUrls()">
    <a title="Clear" [routerLink]="" (click)="viewForm.patchValue({'search': ''}); refreshUrls();" matSuffix>
      <mat-icon class="search-icon">clear</mat-icon>
    </a>
  </mat-form-field>
  <span class="right-align">
    <mat-form-field>
      <mat-select matInput formControlName="httpStatus" value="2" (selectionChange)="refreshUrls()">
        <mat-option value="1">Informational (1xx)</mat-option>
        <mat-option value="2">Success</mat-option>
        <mat-option value="3">Redirection (3xx)</mat-option>
        <mat-option value="4">Client error (4xx)</mat-option>
        <mat-option value="5">Server error (5xx)</mat-option>
        <mat-option value="all">All</mat-option>
      </mat-select>
    </mat-form-field>
  </span>
  <span class="right-align">
    <mat-form-field>
      <mat-select matInput formControlName="mimeFilter" value="webpages" (selectionChange)="refreshUrls()">
        <mat-option value="webpages">Webpages</mat-option>
        <mat-option value="all">All</mat-option>
      </mat-select>
    </mat-form-field>
  </span>
</form>
<app-history-log #historyLog [viewForm]="viewForm"></app-history-log>
