#d3-graph-container {
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

#d3-graph {
  display: inline-block;
  top: 10px;
  left: 0;
}

.node > text {
  display: none;
}

.node > text.visible {
  display: inline;
}

.node > text.domain {
  display: inline;
}
