<form [formGroup]="searchForm" *ngIf="searchEngines && selectedSE">
  <mat-form-field>
    <mat-select matInput formControlName="searchEngine" (selectionChange)="updateSelectedSE()">
      <mat-option *ngFor="let se of searchEngines" [value]="se.id">
        <img *ngIf="se.icon" [src]="se.icon" height="16" width="16">
        {{ se.short_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="search-field">
    <img *ngIf="selectedSE.icon" matPrefix [src]="selectedSE.icon" height="16" width="16" class="prefix-image">
    <input matInput placeholder="Search" formControlName="search" autofocus (keyup.enter)="runSearch()">
  </mat-form-field>
  <button mat-button title="Search" type="button" (click)="runSearch()">
    <mat-icon>search</mat-icon>
  </button>

  <mat-accordion *ngIf="lastSearches && lastSearches.objs">
    <mat-expansion-panel *ngFor="let s of lastSearches.objs">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ s.date_str }}
        </mat-panel-title>
        <mat-panel-description>
          <img *ngIf="s.search_engine.icon" [src]="s.search_engine.icon"  height="16" width="16">&nbsp;
          {{ s.query }}
          <ng-container *ngIf="s.results.length">
            &nbsp;<small>{{ s.results.length + ' result' + (s.results.length > 1 ? 's': '') }}</small>
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a [routerLink]="" (click)="openSearch(s)">Search on {{ s.search_engine.long_name }}</a>
      <mat-list *ngIf="s.results">
        <mat-list-item *ngFor="let url of s.results">
          <span>
            <a target="_blank" rel="noopener noreferrer" [href]="url.url">
              <mat-icon>open_in_new</mat-icon>
              {{ url.title ? url.title : url.url }}
            </a>
          </span>
          <span *ngIf="url.title" class="result-url">{{ url.url }}</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</form>
