<div class="settings-div">
  <form [formGroup]="settingsForm">
    <mat-form-field>
      <textarea matInput formControlName="ca_cert" placeholder="CA certificate"></textarea>
    </mat-form-field>
    <button mat-raised-button color="secondary" (click)="certificateDownload()" class="right-side-button">
      <mat-icon color="secondary">save</mat-icon>
      Download CA certificate
    </button>
    <mat-form-field>
      <textarea matInput formControlName="ca_key" placeholder="CA key"></textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="certs_key" placeholder="Key for websites"></textarea>
    </mat-form-field>
    <button mat-raised-button color="secondary" (click)="generateNew()" [disabled]="certLoading" class="right-side-button">
      <mat-icon *ngIf="!certLoading">build</mat-icon>
      <mat-spinner *ngIf="certLoading" diameter="24"></mat-spinner>
      Generate CA certificate and key
    </button>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      <mat-icon>done</mat-icon>
      Save
    </button>
  </form>
</div>
