.settings-div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.settings-div > form > mat-form-field {
  width: 100%;
}

textarea {
  height: 250px;
  font-family: monospace;
}

.right-side-button {
  float: right;
}

mat-spinner {
  display: inline-block;
}
